@model Microsoft.AspNetCore.Identity.IdentityRole
@{//TODO Deisgn átalakítás
}
@{
    ViewData["Title"] = "Szerep létrehozás";
}

<h1>Create Role</h1>

@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewData["ErrorMessage"]
    </div>
}

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" required />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Létrehozás</button>
        <a asp-action="Roles" class="btn btn-primary">Vissza</a>
    </div>
</form>
