@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<h2>Roles</h2>

<form method="get">
    <button asp-action="Create" type="submit" class="btn btn-primary">Create New Role</button>
    <button asp-action="AssignRole" type="submit" class="btn btn-primary">Assign Role To User</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Szerep neve</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
            </tr>
        }
    </tbody>
</table>
