@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager
@{
    ViewData["Title"] = "Kezdőlap";
}

@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewData["ErrorMessage"]
    </div>
}

<div class="text-center">
    <h1 class="display-4">Üdvözöllek a FitnessForge oldalán</h1>
    @if (!signInManager.IsSignedIn(User))
    {
        <button class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Bejelentkezés</button>
        <br />
        <button class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Regisztráció</button>
    }
    else
    {
        <p>Szia, @User.Identity.Name</p>
    }
</div>

@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewData["ErrorMessage"]
    </div>
}
