@page
@model RegisterModel
@{
    ViewData["Title"] = "Regisztráció";
}

<div class="container text-center text-orange">
    <h1 class="fw-bolder">@ViewData["Title"]</h1>

    <div class="row d-flex justify-content-center">
        <div class="col-12 d-flex justify-content-center bg-red rounded-3 w-50 p-3">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="ModelOnly" class="text-warning" role="alert"></div>
                <div class="form-group mb-3">
                    <h3 class="fw-bold">Felhasználónév</h3>
                    <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="Felhasználónév" />    
                    <span asp-validation-for="Input.UserName" class="text-warning"></span>
                </div>
                <div class="form-group mb-3">
                    <h3 class="fw-bold">Email</h3>
                    <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="példa@példa.com" />             
                    <span asp-validation-for="Input.Email" class="text-warning"></span>
                </div>
                <div class="form-group mb-3">
                    <h3 class="fw-bold">Jelszó</h3>
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Jelszó" />
                    
                    <span asp-validation-for="Input.Password" class="text-warning"></span>
                </div>
                <div class="form-group mb-3">
                    <h3 class="fw-bold">Jelszó megerősítés</h3>
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Jelszó" />
                    
                    <span asp-validation-for="Input.ConfirmPassword" class="text-warning"></span>
                </div>
                <button id="registerSubmit" type="submit" class="btn btn-success">Regisztráció</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
