@{
        Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="container text-orange fw-bold text-center mt-3">
    <h1 class="fw-bolder">Beállítások</h1>

    <div>
        <div class="row">
            <div class="col-12">
                <partial name="_ManageNav" />
            </div>
        </div>
        <div class="row">
            @RenderBody()
        </div>
    </div>
</div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
